mixin header(props = {})

  header.header
    .wrapper
      .header__grid
        .logo logo
        nav.header__nav
          ul.header__menu
            each item in dataMenu
              li.header__menu-item
                a(href=`${item.href}`).header__menu-link=item.title
