mixin header(props = {})

  header.header
    .header__grid
      nav.header__nav
        ul.menu
          li.menu__item
            a(href="#").menu__link Кейсы
          li.menu__item
            a(href="#").menu__link компания
          li.menu__item
            a(href="#").menu__link Услуги
          li.menu__item
            a(href="#").menu__link Контакты

      button.header__menu.btn
        +icn({name: 'menu', width: '50'})
