.examples {
  background-image: url("../img/work.png");
  background-color: @color-black;
  background-size: cover;
  background-repeat: no-repeat;
  color: @color-white;
  line-height: 42px;
  padding: 100px 10px;
}
.examples__title {
  font-size: 16px;
  text-align: center;
  padding: 10px 10px 15px;
}
.examples__text {
  font-size: 36px;
  text-align: center;
}
.examples__text span{
  color: @color-basic;
}
.examples__btn {
  margin: 100px auto 0;
  width: 200px;
  display: block;
  background-color: @color-basic;
  padding: 20px;
  color: @color-white;
  border: none;
  &:hover {
    background-color: @color-basic-dark;
    transition: 0,5s;

  }
}
