.introduce {
  background-image: url("../img/main-img.png");
  background-color: @color-black;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: @color-white;
  padding: 0 20px;
}
.introduce__logo {
  margin-top: 135px;
}
.introduce__text {
  text-align: center;
  margin-top: 100px;
}
.introduce__h1{
  font-size: 40px;
}
.introduce__who {
  font-size: 18px;
}
.introduce__h2{
  font-size: 30px;
}
.introduce__about{
  width: 700px;
  font-size: 14px;
  margin: 0 auto;
}
