.navigation{
  background-color: @color-basic;
  color: #FFFFFF;
  z-index: 3;
  position: sticky;
  top: 0;
}
.container.navigation__container{
  padding: 0 20px;
}
.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 40px;
}
.navigation__box .navigation__burger {
  height: 3px;
  width: 35px;
  background-color: @color-white;
  position: absolute;
  top: 26px;
  z-index: 2;
  @media (min-width: 950px) {
    display: none;
  }
}
.navigation__box.active .navigation__burger{
  transform: rotate(135deg);
  top: 19px;
  transition: all 0.3s ease 0s;
}
.navigation__box::before {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: @color-white;
  position: absolute;
  top: 12px;
  z-index: 2;
  @media (min-width: 950px) {
    display: none;
  }
}
.navigation__box.active::before{
  display: none;
}
.navigation__box::after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: @color-white;
  margin: 15px 0;
  @media (min-width: 950px) {
    display: none;
  }
}
.navigation__box.active::after{
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}

.navigation__list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0;
  margin: 0;
  @media (max-width: 950px) {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 39px;
    background-color: #196fc0;
    z-index: 1;
    &.active {
      display: block;
    }
  }
}

.navigation__item {
  /* padding-left: 20px; */
  /* position: relative; */
  margin-left: 20px;
  padding-top: 20px;
  & a {
    color: @color-white;
  }
  &.active{
    border-bottom: 2px solid @color-white;
    @media (max-width: 950px){
      border-bottom: none;
    }
  }
  @media (max-width: 950px){
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: none;
  }
}

/* .navigation__item.active::after{
  content: "";
  position: absolute;
  background-color: @color-white;
  width: 100% - 20px;
  height: 2px;
  bottom: 0;
} */
.navigation__item.active span {
  padding-bottom: 20px;
  display: flex;
  @media (max-width: 950px){
    display: inline;
    border-bottom: 2px solid @color-white;
    padding-bottom: 0;
  }
}
.navigation__logo {
  height: 100%;
}
