-
  const dataMenu = [
    {
      title: 'Бизнес',
      href: '#'
    },
    {
      title: 'О нас',
      href: '#'
    },
    {
      title: 'Цены',
      href: '#'
    },
    {
      title: 'Оформить заказ',
      href: '#'
    }
  ]

  const dataSteps = [
    {
      text: 'Lorem ipsum dolorsit amet',
      img: 's-1'
    },
    {
      text: 'Сonsecteturadipiscing elit',
      img: 's-2'
    },
     {
      text: 'Sed do eiusmod tempor',
      img: 's-3'
    },
     {
      text: 'Esse cillum doloreeu fugiat',
      img: 's-4'
    },
     {
      text: 'Excepteur sint occaecat cupidatat non proident',
      img: 's-5'
    },
  ]
