-
  const dataMenu = [
    {
      title: 'Бизнес',
      href: '#'
    },
    {
      title: 'О нас',
      href: '#'
    },
    {
      title: 'Цены',
      href: '#'
    },
    {
      title: 'Оформить заказ',
      href: '#'
    }
  ]
