@import "../less/color.less";


/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Light"),
       url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto"),
       url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
       url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Exo 2", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @color-basic;
  text-transform: none;
  background-color: @color-white;
}

/* img {
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

@import "../less/index_less/introduce.less";
@import "../less/index_less/navigation.less";
@import "../less/index_less/welcome.less";
@import "../less/index_less/examples.less";
