@import "../less/color.less";


/* regular*/
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Myriad Pro Regular"),
       url('../fonts/myriad/MyriadPro-Semibold.woff') format('truetype'),
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Myriad Pro Regular"),
       url('../fonts/myriad/MyriadPro-Light.woff') format('truetype'),
}
body {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: @color-basic;
  text-transform: none;
  background-color: @color-white;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 100px 20px;
  @media (max-width: 600px) {
    padding: 50px 10px;
  }
}
.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 600px) {
    padding: 0 10px;
  }
}
.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@import "../less/index_less/introduce.less";
@import "../less/index_less/navigation.less";
@import "../less/index_less/welcome.less";
@import "../less/index_less/examples.less";
@import "../less/index_less/about.less";
@import "../less/index_less/skills.less";
@import "../less/index_less/main.less";
@import "../less/index_less/services.less";
@import "../less/index_less/cases.less";
@import "../less/index_less/reviews.less";
@import "../less/index_less/team.less";
@import "../less/index_less/possibilites.less";
@import "../less/index_less/button.less";
@import "../less/index_less/history.less";
@import "../less/index_less/recentworks.less";
@import "../less/index_less/order.less";
@import "../less/index_less/message.less";
@import "../less/index_less/footer.less";
