extends ../components/layouts/main-layout

block variables
  -
    title = 'Главная'

block main
  main.page
    +hero-section()

    +order-section({
      title: 'Оформление <span> Заказа</span>',
      text: 'Перед заполнением формы ознакомьтесь с нашей схемой работы!',
      steps: true
    })

block modals
  +modal({id: 'modal-feedback'})
    +modal-feedback()

  +modal({id: 'modal-burger', mod: 'burger'})
    +modal-burger()
