@font-face {
  font-family: 'Geometria';
  src: url('#{$url-font}/geometria/geometria-bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url('#{$url-font}/geometria/geometria-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$url-font}/gothampro/gothampro-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
