html {
  overscroll-behavior: none;
  font-size: calc(16 / 1920) * 100vw;

  text-rendering: optimizeLegibility;
  // оптимизация выравнивания шрифта относительно центра строки
  // если по прежнему есть проблемы с выравниванием
  // https://transfonter.org/ - включите настройку "Fix vertical metrics" и переконвертируйте шрифт
}

body {
  scrollbar-gutter: stable;
  font-family: var(--font-family-primary);
  font-size: rem(16);
}

a {
  text-underline-offset: 0.2em;
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}

textarea {
  // form-sizing: auto;
}

.swiper-slide {
  &,
  * {
    box-sizing: border-box;
  }
}
