.no-wrap {
  white-space: nowrap;
}

.visually-hidden {
  @include visually-hidden;
}

.icn {
  display: inline-block;
  fill: currentColor;
  flex: 0 0 auto;
  user-select: none;
}

.title {
  @include fluid(font-size, 48, 24);
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  // @include fluid(margin-top, 84, 24, true);
}

// .title--2 {
//   @include fluid(font-size, 120, 48);
//   @include fluid(margin-top, 84, 24);
// }
